html {
      box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
  font-family: 'Noto Sans S Chinese';
  background-color: #EFF0DC;
}

.countdown {
  width: 800px;
  height: 400px;
  position: absolute;
  left: 0;right: 0;
  top: 0;bottom: 0;
  margin: auto;
  background-color: #D32F2F;
  border: 3px solid #fff;
}

.countdown h2 {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 20px;
  font-size: 40px;
  font-weight: bolder;
  overflow: hidden;
}

.remainDay {
  color: #fff;
  text-align: center;
}

.timeList {
  list-style: none;
  display: inline-block;
  width: 100%;
  margin: 40px 0;
  padding: 0 89px;
  height: 90px;
}
.timeList .item {
  float: left;
  height: 78px;
  width: 60px;
  margin: 11px 15px;
  color: #fff;
  background: url(../../img/time.png) no-repeat;
  background-position: -556px 0;
  overflow: hidden;
}

.item.item-s {
  background-position: 0 0;
  width: 8px;
}

.item.item-9 {
  background-position: -496px 0;
}

.item.item-8 {
  background-position: -436px 0;
}

.item.item-7 {
  background-position: -376px 0;
}

.item.item-6 {
  background-position: -316px 0;
}

.item.item-5 {
  background-position: -256px 0;
}

.item.item-4 {
  background-position: -196px 0;
}

.item.item-3 {
  background-position: -136px 0;
}

.item.item-2 {
  background-position: -76px 0;
}

.item.item-1 {
  background-position: -16px 0;
}

.item.item-0 {
  background-position: -556px 0;
}

.timeup {
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-top: 50px;
  display: none;
  opacity: 0;
}
.timeup.show {
  display: block;
  opacity: 1;
  transition: all 0.3s linear;
}